.diagram {
    width: 150px;
    height:150px;
    border-radius: 50%;
    background: #FC493E;
    position: relative;
    overflow: hidden;
}
.diagram::before {
    content: '';
    display: block;
    position: absolute;
    top:20px;
    left:20px;
    right:20px;
    bottom:20px;
    border-radius: 50%;
    background: #ccc;
    z-index: 3;
    opacity: 1;
}
.diagram .piece {
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    position: absolute;
}
.diagram .piece::before {
    content: '';
    display: block;
    position: absolute;
    width: 50%;
    height: 100%;
}
.diagram .piece.left {
    transform: rotate(0deg);
    z-index: 2;
    border-radius: 50%; /* only FireFox < 75.0v (fix bug)*/
}
.diagram.over_50 .piece.left {
    transform: rotate(180deg);
}
.diagram .piece.right {
    transform: rotate(180deg);
    z-index: 1;
    border-radius: 50%; /* only FireFox < 75.0v (fix bug)*/
}
.diagram.over_50 .piece.right {
    transform: rotate(360deg);
}
.diagram .left::before {
    background: #272B3A;
}
.diagram.over_50 .left::before {
    background: #FC493E;
}
.diagram .right::before {
    background: #272B3A;
}
.diagram .text {
    position: absolute;
    z-index: 3;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.diagram .text b {
    font-size: 72px;
}
.diagram .text span {
    font-size: 16px;
    display: block;
}
.block_skills{


    display: flex;
    justify-content: space-between;

}
.block{
    width:80%;
    align-items: center;
    margin: auto;
}
.seldiv {

  background: #272B3A;
  height: 300px;
  width: 400px;
  border-radius:40px;
  padding:40px;
  font-size:22px;
  color:#fff; 
   align-items: center;
    margin: auto;
}
.button_Start{
  /* remove default behavior */
  appearance:none;
  -webkit-appearance:none;
  /* usual styles */
  padding:10px;
  border:none;
  background-color:#FC493E;
  color:#fff;
  font-weight:600;
  border-radius:5px;
  width:100%;
 
}
.border-radius{
	border-radius:5px;
}