.diagram {
    width: 20vh;
    height:20vh;
    border-radius: 50%;
    background: #FC493E;
    position: relative;
    overflow: hidden;
}
.diagram::before {
    content: '';
    display: block;
    position: absolute;
    top:15%;
    left:15%;
    right:15%;
    bottom:15%;
    border-radius: 50%;
    background: #ccc;
    z-index: 3;
    opacity: 1;
}
.diagram .piece {
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    position: absolute;
}
.diagram .piece::before {
    content: '';
    display: block;
    position: absolute;
    width: 50%;
    height: 100%;
}
.diagram .piece.left {
    transform: rotate(0deg);
    z-index: 2;
    border-radius: 50hv; /* only FireFox < 75.0v (fix bug)*/
}
.diagram.over_50 .piece.left {
    transform: rotate(180deg);
}
.diagram .piece.right {
    transform: rotate(180deg);
    z-index: 1;
    border-radius: 50hv; /* only FireFox < 75.0v (fix bug)*/
}
.container1, .container2, .container3
{
   margin-left: 5%;
   margin-right: 5%;
}
.diagram.over_50 .piece.right {
    transform: rotate(360deg);
}
.diagram .left::before {
    background: #272B3A;
}
.diagram.over_50 .left::before {
    background: #FC493E;
}
.diagram .right::before {
    background: #272B3A;
}
.text {
    position: absolute;
    font-size: 2vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 3;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block_skills{

    margin: 5%;
    display: flex;
    justify-content: center;

}
.block{
    width:80%;
    align-items: center;
    margin: auto;
}
.seldiv {

  background: #272B3A;
 
  width: 66vh;
  border-radius:40px;
  padding:4vh;
  font-size:22px;
  color:#fff; 
   align-items: center;
    
}

#startingForm
{
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    
}
.button_Start{
  /* remove default behavior */
  appearance:none;
  -webkit-appearance:none;
  /* usual styles */
  padding:10px;
  border:none;
  background-color:#FC493E;
  color:#fff;
  font-size: 3vh;
  border-radius:5px;
  width:100%;
 
}
.border-radius{
	border-radius:5px;
}
#selectCategory{

    width: 100%;
    padding:5px;
    margin: 1vh, 0, 1vh, 0;
    border-radius:10px;
    font-size: 2.5vh;
    text-align: center;
}
#selectDifficulty{
    width: 100%;
    padding:5px;
    margin: 1vh, 0, 1vh, 0;
    border-radius:10px;
    font-size: 2.5vh;
    text-align: center;
}
#numOfQuestions{
    width: 97%;
    padding:5px;
    font-size: 2.5vh;
    border-radius:10px;
    text-align: center;
}

label
{
    margin: 10px;
    font-size: 2.5vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
label:first-child
{
    margin-top: 0;
}
body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../back2.gif');
    background-size: cover;
}